<!DOCTYPE html>
<html lang ="bg">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Влизане в профил - Дневник</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>

    <body>
        <div class="auth-container">
        <h2>Влизане в профил</h2>

        <form method="POST" action="/login">
            <div class="input-group">
                <label>Имейл адрес</label>
                <input type="email" name="email" required>
            </div>
            <div class="input-group">
                <label>Парола</label>
                <input type="password" name="password" required>
            </div>
            
            <button type="submit" class="auth-btn">Вход</button>
        </form>

        <div class="switch-text">
            <a href="/register">Не сте си активирали профила?<br>За да го активирате кликнете тук!</a>
        </div>
        </div>
        <div class="footer">
        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Лого">
        Дневник
        </div>
        </body>
</html>